@model ChatMe.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Account/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Login or @Html.ActionLink("register", "Register")</h2>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary()

            <div class="form-group">
                <label for="email">Login:</label>
                @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.CheckBoxFor(m => m.RememberMe)
                <label> Remember me</label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        }
    </div>
</div>