@model ChatMe.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <div>
        <h4>Registration</h4>
        <hr />
        @Html.ValidationSummary(false)

        <div>
            Login
            <div>
                @Html.EditorFor(model => model.UserName)
            </div>
        </div>

        <div>
            Email
            <div>
                @Html.EditorFor(model => model.Email)
            </div>
        </div> 

        <div>
            Password
            <div>
                @Html.EditorFor(model => model.Password)
            </div>
        </div>

        <div>
            Confirm password
            <div>
                @Html.EditorFor(model => model.PasswordConfirm)
            </div>
        </div>

        <div>
            <div>
                <input type="submit" value="Register" />
            </div>
        </div>
    </div>
}