@model ChatMe.Web.Models.UserProfileViewModel

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/User/_Layout.cshtml";
}

@section Scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/posts-app/app.module.js"></script>
    <script>
        angular.module("postsApp")
            .value('userInfo', {
                id: '@Model.Id',
                isOwner: @Model.IsOwner.ToString().ToLower(),
            });
    </script>
    <script src="~/Scripts/posts-app/app.directive.js"></script>
    <script src="~/Scripts/posts-app/posts-service/posts.service.js"></script>
    <script src="~/Scripts/posts-app/posts-service/posts-api.service.js"></script>
    <script src="~/Scripts/posts-app/posts-list/posts-list.controller.js"></script>
    <script src="~/Scripts/posts-app/new-post/new-post.controller.js"></script>
}

<div class="row">
    <div class="col-md-4">
        <img src="@Url.Action("GetAvatar", "User", new { id = Model.Id })" class="col-xs-12 img-responsive">

        @if (Model.DisplayName != null) {
            <h2>@Model.DisplayName</h2>
        }
        <div>@Model.UserName</div>

        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Email)</dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            @if (Model.Phone != null) {
                <dt>@Html.DisplayNameFor(model => model.Phone)</dt>
                    <dd>@Html.DisplayFor(model => model.Phone)</dd>
            }
            @if (Model.Skype != null) {
                <dt>@Html.DisplayNameFor(model => model.Skype)</dt>
                    <dd>@Html.DisplayFor(model => model.Skype)</dd>
            }
            @if (Model.AboutMe != null) {
                <dt>@Html.DisplayNameFor(model => model.AboutMe)</dt>
                    <dd>@Html.DisplayFor(model => model.AboutMe)</dd>
            }

            @Model.Id
        </dl>
    </div>
    <div class="col-md-8">
        <div ng-app="postsApp" id="postsApp">
            <app></app>
        </div>
    </div>
</div>
